aiochclient @ git+https://github.com/tiejunhu/aiochclient.git@b95516aa58fa6ac63c9585e81cd596eda581259c
aiohttp==3.8.5
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.0.0
async-timeout==4.0.3
attrs==23.1.0
black==23.9.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
frozenlist==1.4.0
grpcio==1.59.0
grpcio-tools==1.59.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.18.0
httpx==0.25.0
hyperframe==6.0.1
idna==3.4
multidict==6.0.4
mypy-extensions==1.0.0
numpy==1.26.0
packaging==23.1
pathspec==0.11.2
platformdirs==3.10.0
portalocker==2.8.2
protobuf==4.24.4
pydantic==2.4.2
pydantic_core==2.10.1
qdrant-client==1.6.0
sniffio==1.3.0
sqlparse==0.4.4
tqdm==4.66.1
typing_extensions==4.8.0
urllib3==1.26.18
yarl==1.9.2
